<!-- beginning container -->
<section class="section-full contact">
  <!-- contact section -->
  <div class="center-box">
    <h1>Any questions ?</h1>
    <form action="#" class="formbase contact">
      <span>
      <input type="text" name="search" placeholder="Name">
      <input type="text" name="search" placeholder="Email">
      <a href="#">
          <button type="button" name="roadmap-sec" class="btn">SUBMIT</button>
      </a>
      </span>
      <textarea name="message" cols="30" rows="11"></textarea>
    </form>
    <p>Feel like sending us a more detailed and personal message? then email us at kushobi@gmail.nl</p>
  </div>
<!-- end container  -->
</section>
