<div class="section-full search">
			<div class="wrapper">
				<!-- search app for the blog page -->
				<div class="searchbar list">
					<h1></h1>
					<hr>
					<br>
					<form class="formbase search">
			  			<input type="text" name="search" placeholder="Search..">
					</form>
					<br>
				</div>
				<!-- blog post listing section -->
				<section>
					<ul>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x250" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x251" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x252" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x253" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x254" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x255" alt="" >
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x256" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x257" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x258" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article class="article">
									<img class="article-img" src="https://source.unsplash.com/random/250x259" alt="">
									<div>
										<div class="meta">
											<h1>Title of post</h1>
											<span>date</span>
											<span>author</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto atque excepturi sunt, quaerat mollitia adipisci. Ullam aliquid, id, harum nam blanditiis ex incidunt maxime sed, ratione corporis dicta perspiciatis alias.</p>
									</div>
								</article>
							</a>
						</li>
					</ul>
				</section>
				<span>
					<a href="#">
						<button type="button" name="list-sec" class="btn">Load More</button>
					</a>
				</span>
			</div>
		</div>
		<!--end section-->
